<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACCESS_KEY</key>
	<string>$(ACCESS_KEY)</string>
	<key>APPLICATION_ENV</key>
	<string>$(APPLICATION_ENV)</string>
	<key>ATTESTATION_CERT_PINNING</key>
	<string>$(ATTESTATION_CERT_PINNING)</string>
	<key>ATTESTATION_HOST</key>
	<string>$(ATTESTATION_HOST)</string>
	<key>ATTESTATION_REFRESH_INTERVAL</key>
	<string>${ATTESTATION_REFRESH_INTERVAL}</string>
	<key>KEYLOADING_CA_CERT</key>
	<string>$(KEYLOADING_CA_CERT)</string>
	<key>KEYLOADING_HOST</key>
	<string>$(KEYLOADING_HOST)</string>
	<key>KEYLOADING_HOST_CERT_PINNING</key>
	<string>$(KEYLOADING_HOST_CERT_PINNING)</string>
	<key>SECRET_KEY</key>
	<string>$(SECRET_KEY)</string>
</dict>
</plist>
